.footer__menu-link{
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding: 0 18px 0 0;
  text-decoration: none;
  color: #fff;
}
.footer__menu-link:hover{
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  .footer__menu-link{
    font-size: 24px;
    line-height: 24px;
    padding: 0;
  }
}

