.cover__link{
  color: #fff;
  text-decoration: none;
  padding: calc(31.25% - 125px) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 3;
}
.cover__link::after {
  content: "";
  background: url(../../../images/cover__img.jpg);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

.cover__link:hover::after{
  opacity: 0.3;
}

@media screen and (max-width: 320px) {
  .cover__link{

    padding: calc(31.25% - 67px) 0;

  }
}