.places__item-link{
  text-decoration: underline;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: block;
  padding-top: 12px;

}
.places__item-link:hover{
  opacity: 80%;
}