.cover__description{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 32px 0 0 0 ;
  /* margin: 0 auto; */
  margin: 0;
  max-width: 360px;
}
@media screen and (max-width: 320px) {
  .cover__description{
    font-size: 14px;
    line-height: 16px;
    padding: 16px 0 0 0 ;
  }
}