.footer__copyright{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 700px) {
  .footer__copyright{
    font-size: 14px;
    line-height: 14px;
    padding-top: 48px;
  }
}
