.intro{
  padding: 92px 148px 0;
}
@media screen and (max-width: 1024px) {
  .intro{
    padding-right: 48px;
    padding-left: 48px;
  }
}
@media screen and (max-width: 768px) {
  .intro{
    padding-top: 88px;
    padding-right: 48px;
    padding-left: 48px;
  }
}
@media screen and (max-width: 768px) {
  .intro{
    padding-top: 64px;
    padding-right: 16px;
    padding-left: 16px;
  }
}