.lead__img{
  padding: 64px 148px 0;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .lead__img{
    padding-top: 56px;
    padding-right: 48px;
    padding-left: 48px;
  }
}
@media screen and (max-width: 768px) {
  .lead__img{
    padding-right: 0;
    padding-left: 0;
  }
}
@media screen and (max-width: 320px) {
  .lead__img{
    padding-top: 40px;
  }
}