.places__item{
  padding: 80px 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 40px;
}
@media screen and (max-width: 768px) {
  .places__item{
    padding-top: 73px;
    gap: 48px 28px;
  }
}
@media screen and (max-width: 700px) {
  .places__item{
    padding-top: 73px;
    gap: 32px;
    grid-template-columns: 1fr;
  }
}